@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/lightslider.css">

</head>


<br />
<div id="row" class="col-md-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <!-- Indicators -->

        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" style="border-radius:6px">
            <div class="item active">
                <img src="~/imagenscarousel/logo_SportStars.jpg" alt="..." style="width:100%; height:auto">
            </div>
            <div class="item">
                <img src="~/imagenscarousel/181026-REBEL-NBAJerseys-HeaderBanner-m.jpg" alt="..." style="width:100%; height:auto">
            </div>
            <div class="item">
                <img src="~/imagenscarousel/cropped-arsenal-neve1.jpg" alt="..." style="width:100%; height:auto">
            </div>
            <div class="item">
                <img src="~/imagenscarousel/tenis.jpg" alt="..." style="width:100%; height:auto">
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br />
    <br />
</div>


<div class="container-fluid">
    <div class="row col-md-12">
        <label style="border-radius:6px;border-bottom:solid 3px black;width:100%;margin:10px;padding:7px;color: white;background-color: rgba(0,0,0,.3);box-shadow: 0 4px 8px 0 rgba(0,0,0,.4)" class="text-center col-md-12"> LEGENDARY </label>

        <div style="margin:20px">
            <div class="col-md-4 text-center">
                <hr />
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius:5px">
                    <div class="img-hover-zoom">
                        <img src="~/Images.cards/estudiantes-de-la-plata-brazil-jersey-soccer.jpg" class="card-img-top" style="height:200px">
                    </div>

                    <div>
                        <h4><strong>1986 Argentina Retro Clássico Vintage Diego Maradona</strong></h4>
                        <p class="card-text">
                            1986 Argentina Retro Clássico Vintage Diego Maradona Jersey Jersey Camisa de Futebol Jersey Adulto Camisa de Futebol Tailândia.
                        </p>

                    </div>
                    <div style="padding:5px">
                        <h6 class="card-title">€85.50</h6>
                        <a href="#" class="btn btn-success"><i class="glyphicon glyphicon-shopping-cart"></i> +</a>
                        <a href="#" class="btn btn-default">Details</a>
                    </div>
                </div>

            </div>

            <div class="col-md-4 text-center">
                <hr />
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius:5px">
                    <img src="~/Images.cards/FUJ34H-front.jpg" style="height:200px" class="card-img-top" alt="...">
                    <div>
                        <h4><strong>Steveston Fuji 1934 Home Jersey</strong></h4>
                        <p class="card-text">
                            Before World War II, Japanese amateur and semi-pro teams were well-represented on the baseball scene in the Western U.S. and Canada.
                            The Steveston Fujis were one of British Columbia’s top clubs. Steveston is a community in metro Vancouver, BC.
                        </p>

                    </div>
                    <div style="padding:5px">
                        <h6 class="card-title">€215.00</h6>
                        <a href="#" class="btn btn-success"><i class="glyphicon glyphicon-shopping-cart"></i> +</a>
                        <a href="#" class="btn btn-default">Details</a>
                    </div>
                </div>

            </div>

            <div class="col-md-4 text-center">
                <hr />
                <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius:5px">
                    <img src="~/Images.cards/Mitchell_and_Ness_NBA_Vince_Carter_1998-99_Toronto_Raptors_Swingman_Jersey_600.jpg" class="card-img-top" style="height:200px" alt="...">
                    <div>
                        <h4><strong>Camisola Vince Carter PU</strong></h4>
                        <p class="card-text">Presta homenagem a uma lenda do basquetebol com a camisola Mitchell & Ness Soul Swingman Jersey de Vince Carter dos Toronto Raptors 1998-99</p>

                    </div>
                    <div style="padding:5px">
                        <h6 class="card-title">€94.50</h6>
                        <a href="#" class="btn btn-success"><i class="glyphicon glyphicon-shopping-cart"></i> +</a>
                        <a href="#" class="btn btn-default">Details</a>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<br />
<br />


<div class="row col-md-12">

    <label style="border-radius:6px;border-bottom:solid 3px black;width:100%;margin:10px;padding:7px;color: white;background-color: rgba(0,0,0,.3);box-shadow: 0 4px 8px 0 rgba(0,0,0,.4)" class="text-center col-md-12"> LEGENDARY </label>
    <div style="margin-left:15px">
        <a class="btn btn-sm btn-default glyphicon glyphicon-chevron-left" id="goToPrevSlide"></a>
        <a class="btn btn-sm btn-default glyphicon glyphicon-chevron-right" id="goToNextSlide"></a>
    </div>
    

    <ul id="autoWidth" class="cs-hidden">
        <li class="item-a">
            <div class="box">
                <div class="slide-img">
                    <img src="~/Images.products/Main_Images/22.jpg" alt="" />
                    <div class="overlay">
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
                <div class="detail-box">
                    <div class="type">
                        <a href="#">Lacoste</a>
                        <span>Sweatshirt</span>
                    </div>
                    <a href="#" class="price">Rs.8680</a>
                </div>
            </div>
        </li>
        <li class="item-b">
            <div class="box">
                <div class="slide-img">
                    <img src="~/Images.products/Main_Images/26.jpg" alt="" />
                    <div class="overlay">
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
                <div class="detail-box">
                    <div class="type">
                        <a href="#">Mango</a>
                        <span>Casual Shirt</span>
                    </div>
                    <a href="#" class="price">Rs.4490</a>
                </div>
            </div>
        </li>
        <li class="item-c">
            <div class="box">
                <div class="slide-img">
                    <img src="~/Images.products/Main_Images/27.jpg" alt="" />
                    <div class="overlay">
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
                <div class="detail-box">
                    <div class="type">
                        <a href="#">Nike Tshirt</a>
                        <span>V-Neck T-shirt</span>
                    </div>
                    <a href="#" class="price">Rs.3051</a>
                </div>
            </div>
        </li>
        <li class="item-d">
            <div class="box">
                <div class="slide-img">
                    <img src="~/Images.products/Main_Images/27.jpg" alt="" />
                    <div class="overlay">
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
                <div class="detail-box">
                    <div class="type">
                        <a href="#">Allen Solly Woman</a>
                        <span>Formal Shirt</span>
                    </div>
                    <a href="#" class="price">Rs.1299</a>
                </div>
            </div>
        </li>
        <li class="item-e">
            <div class="box">
                <div class="slide-img">
                    <img src="~/Images.products/Main_Images/27.jpg" alt="" />
                    <div class="overlay">
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
                <div class="detail-box">
                    <div class="type">
                        <a href="#">Puma</a>
                        <span>V-Neck T-shirt</span>
                    </div>
                    <a href="#" class="price">Rs.3299</a>
                </div>
            </div>
        </li>
        <li class="item-f">
            <div class="box">
                <div class="slide-img">
                    <img src="~/Images.products/Main_Images/27.jpg" alt="" />
                    <div class="overlay">
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
                <div class="detail-box">
                    <div class="type">
                        <a href="#">Ritu Kumar</a>
                        <span>Embroidered Tunic</span>
                    </div>
                    <a href="#" class="price">Rs.5600</a>
                </div>
            </div>
        </li>
        <li class="item-g">
            <div class="box">
                <div class="slide-img">
                    <img src="7under armour.png" alt="" />
                    <div class="overlay">
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
                <div class="detail-box">
                    <div class="type">
                        <a href="#">UNDER ARMOUR</a>
                        <span>Golf T-shirt</span>
                    </div>
                    <a href="#" class="price">Rs.4499</a>
                </div>
            </div>
        </li>
        <li class="item-h">
            <div class="box">
                <div class="slide-img">
                    <img src="8dorothy perkins.png" alt="" />
                    <div class="overlay">
                        <a href="#" class="buy-btn">Buy Now</a>
                    </div>
                </div>
                <div class="detail-box">
                    <div class="type">
                        <a href="#">DOROTHY PERKINS</a>
                        <span>Solid Cape Top</span>
                    </div>
                    <a href="#" class="price">Rs.3990</a>
                </div>
            </div>
        </li>
    </ul>
    
</div>



<br />
<div id="row1" class="col-md-12">
    <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <!-- Indicators -->
        @*<ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>*@

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" style="border-radius:6px">
            <div class="item active">
                <img src="~/imagenscarousel/champion-logo-e1517477246129-670x370.jpg" alt="..." style="width:100%; height:auto">
            </div>
            <div class="item">
                <img src="~/imagenscarousel/adidashed.jpg" alt="..." style="width:100%; height:auto">
            </div>
            <div class="item">
                <img src="~/imagenscarousel/og-ASICS.jpg" alt="..." style="width:100%; height:auto">
            </div>
            <div class="item">
                <img src="~/imagenscarousel/download.jpg" alt="..." style="width:100%; height:auto">
            </div>
            <div class="item">
                <img src="~/imagenscarousel/Reebok_logo19.jpg" alt="..." style="width:100%; height:auto">
            </div>
            <div class="item">
                <img src="~/imagenscarousel/image.jpg" alt="..." style="width:100%; height:auto">
            </div>
        </div>

        <!-- Controls -->
        <!--<a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>-->
    </div>
    <br />
    <br />
    <br />
</div>


<div class="container-fluid">
    <div class="row col-md-12">

        <label style="border-radius:6px;border-bottom:solid 3px black;width:100%;margin:10px;padding:7px;color: white;background-color: rgba(0,0,0,.3);box-shadow: 0 4px 8px 0 rgba(0,0,0,.4)">
            <text>T-SHIRTS</text>
            <a class="btn-sm btn-default" aria-controls="collapse_filter_t-shirts" aria-expanded="false" data-toggle="collapse" href="#collapse_filter_t-shirts"><i class="glyphicon glyphicon-filter"></i></a>
            <a class="btn-sm pull-right" aria-controls="div1" aria-expanded="false" data-toggle="collapse" href="#div1"><i style="color:black" class="glyphicon glyphicon-minus"></i></a>
        </label>
        <div class="collapse col-md-12" id="collapse_filter_t-shirts" style="border-radius:6px;border-bottom:solid 2px black">
            <div>
                #FILTROS T-SHIRTS
            </div>
        </div>
        <div class="collapse col-md-12 text-center" id="div1" style="margin:10px">
            @{
                SportStars.Models.finalbootstrap_dbEntities bd = new SportStars.Models.finalbootstrap_dbEntities();


                foreach (var item in bd.product.Where(x => x.subcategory_name == "T-shirts"))
                {
                    <div class="col-md-3">
                        <hr />
                        <div style="height: auto; width: 100%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 5px">
                            @{
                                string cam = (item.product_mainimage != null) ? item.product_mainimage : "~/Images.products/nophoto.jpg";

                            }
                            <img src=@Url.Content(cam) style="padding:5px;height:auto;width:100%" alt="" />

                            <div>
                                <h4><strong>@item.product_name</strong></h4>
                                <p>@item.product_comment</p>
                                <h6>@item.product_price €</h6>

                            </div>
                            <div style="padding:5px">
                                @{
                                    if (item.product_status == "Disponível")
                                    {
                                        <a href="#" class="btn btn-success"><i class="glyphicon glyphicon-shopping-cart"></i> +</a>
                                    }
                                    else
                                    {

                                        <button type="button" class="btn btn-danger" disabled="disabled"><i class="glyphicon glyphicon-shopping-cart"></i> +</button>
                                    }
                                }

                                <a href="#" class="btn btn-default">Details</a>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
        <label style="border-radius:6px;border-bottom:solid 3px black;width:100%;margin:10px;padding:7px;color: white;background-color: rgba(0,0,0,.3);box-shadow: 0 4px 8px 0 rgba(0,0,0,.4)">
            <text>SHIRTS</text>
            <a class="btn-sm btn-default" aria-controls="collapse_filter_pants" aria-expanded="false" data-toggle="collapse" href="#collapse_filter_pants"><i class="glyphicon glyphicon-filter"></i></a>
            <a class="btn-sm pull-right" aria-controls="div2" aria-expanded="false" data-toggle="collapse" href="#div2"><i style="color:black" class="glyphicon glyphicon-minus"></i></a>
        </label>
        <div class="collapse col-md-12" id="collapse_filter_pants" style="border-radius:6px;border-bottom:solid 2px black">
            <div>
                #FILTROS SHIRTS
            </div>
        </div>
        <div class="collapse col-md-12 text-center" id="div2" style="margin:10px">
            @{

                foreach (var item in bd.product.Where(x => x.subcategory_name == "Shirts"))
                {
                    <div class="col-md-3">
                        <hr />
                        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius:5px">
                            @{
                                string cam = (item.product_mainimage != null) ? item.product_mainimage : "~/Images.products/nophoto.jpg";

                            }
                            <img src=@Url.Content(cam) style="padding:5px;height:auto;width:100%;" alt="" />

                            <div>
                                <h4><strong>@item.product_name</strong></h4>
                                <p>@item.product_comment</p>
                                <h6>@item.product_price €</h6>

                            </div>
                            <div style="padding:5px">
                                @{
                                    if (item.product_status == "Disponível")
                                    {
                                        <a href="#" class="btn btn-success"><i class="glyphicon glyphicon-shopping-cart"></i> +</a>
                                    }
                                    else
                                    {

                                        <button type="button" class="btn btn-danger" disabled="disabled"><i class="glyphicon glyphicon-shopping-cart"></i> +</button>
                                    }
                                }
                                <a href="#" class="btn btn-default">Details</a>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
        <label style="border-radius:6px;border-bottom:solid 3px black;width:100%;margin:10px;padding:7px;color: white;background-color: rgba(0,0,0,.3);box-shadow: 0 4px 8px 0 rgba(0,0,0,.4)">
            <text>SHOES & SOCKS</text>
            <a class="btn-sm btn-default" aria-controls="collapse_filter_shoes" aria-expanded="false" data-toggle="collapse" href="#collapse_filter_shoes"><i class="glyphicon glyphicon-filter"></i></a>
            <a class="btn-sm pull-right" aria-controls="div3" aria-expanded="false" data-toggle="collapse" href="#div3"><i style="color:black" class="glyphicon glyphicon-minus"></i></a>
        </label>
        <div class="collapse col-md-12" id="collapse_filter_shoes" style="border-radius:6px;border-bottom:solid 2px black">
            <div>
                #FILTROS SHOES & SOCKS
            </div>
        </div>
        <div class="collapse col-md-12 text-center" id="div3" style="margin:10px">
            @{

                foreach (var item in bd.product.Where(x => x.subcategory_name == "Shoes" || x.subcategory_name == "Socks"))
                {
                    <div class="col-md-3">
                        <hr />
                        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius:5px">
                            @{
                                string cam = (item.product_mainimage != null) ? item.product_mainimage : "~/Images.products/nophoto.jpg";

                            }
                            <img src=@Url.Content(cam) style="padding:5px;height:auto;width:100%;" alt="" />

                            <div>
                                <h4><strong>@item.product_name</strong></h4>
                                <p>@item.product_comment</p>
                                <h6>@item.product_price €</h6>

                            </div>
                            <div style="padding:5px">
                                @{
                                    if (item.product_status == "Disponível")
                                    {
                                        <a href="#" class="btn btn-success"><i class="glyphicon glyphicon-shopping-cart"></i> +</a>
                                    }
                                    else
                                    {

                                        <button type="button" class="btn btn-danger" disabled="disabled"><i class="glyphicon glyphicon-shopping-cart"></i> +</button>
                                    }
                                }
                                <a href="#" class="btn btn-default">Details</a>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
        <label style="border-radius:6px;border-bottom:solid 3px black;width:100%;margin:10px;padding:7px;color: white;background-color: rgba(0,0,0,.3);box-shadow: 0 4px 8px 0 rgba(0,0,0,.4)">
            <text>JACKETS</text>
            <a class="btn-sm btn-default" aria-controls="collapse_filter_jackets" aria-expanded="false" data-toggle="collapse" href="#collapse_filter_jackets"><i class="glyphicon glyphicon-filter"></i></a>
            <a class="btn-sm pull-right" aria-controls="div4" aria-expanded="false" data-toggle="collapse" href="#div4"><i style="color:black" class="glyphicon glyphicon-minus"></i></a>
        </label>
        <div class="collapse col-md-12" id="collapse_filter_jackets" style="border-radius:6px;border-bottom:solid 2px black">
            <div>
                #FILTROS JACKETS
            </div>
        </div>
        <div class="collapse col-md-12 text-center" id="div4" style="margin:10px">
            @{

                foreach (var item in bd.product.Where(x => x.subcategory_name == "Jackets"))
                {
                    <div class="col-md-3">
                        <hr />
                        <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius:5px">
                            @{
                                string cam = (item.product_mainimage != null) ? item.product_mainimage : "~/Images.products/nophoto.jpg";

                            }
                            <img src=@Url.Content(cam) style="padding:5px;height:auto;width:100%;" alt="" />

                            <div>
                                <h4><strong>@item.product_name</strong></h4>
                                <p>@item.product_comment</p>
                                <h6>@item.product_price €</h6>

                            </div>
                            <div style="padding:5px">
                                @{
                                    if (item.product_status == "Disponível")
                                    {
                                        <a href="#" class="btn btn-success"><i class="glyphicon glyphicon-shopping-cart"></i> +</a>
                                    }
                                    else
                                    {

                                        <button type="button" class="btn btn-danger" disabled="disabled"><i class="glyphicon glyphicon-shopping-cart"></i> +</button>
                                    }
                                }
                                <a href="#" class="btn btn-default">Details</a>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>


    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/slider")
}

@section productslider{
    <script type="text/javascript">
        $(document).ready(function () {
            var slider = $('#autoWidth').lightSlider({
                controls: false,
                autoWidth: true,
                loop: true,
                onSliderLoad: function () {
                    $('#autoWidth').removeClass('cS-hidden');
                }
            });
            $('#goToPrevSlide').on('click', function () {
                slider.goToPrevSlide();
            });
            $('#goToNextSlide').on('click', function () {
                slider.goToNextSlide();
            });

        });

    </script>
}