@using PagedList.Mvc
@using SportStars.Models

@model PagedList.IPagedList<SportStars.Models.orders>


@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<header style="padding: 5px">
    <h2 class="text-center" style="text-shadow:3px 2px 5px gray"><strong>Orders</strong></h2>
</header>


<div class="table-responsive text-center">
    <table class="table table-hover table-bordered">
        <thead>
            <tr class="active">
                <th>
                    <input type="checkbox" id="chkHeader" />
                </th>
                <th>
                    Id
                </th>
                <th>
                    Status
                </th>
                <th>
                    User Id
                </th>
                <th>
                    Total
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Order Datetime
                </th>
                <th>
                    Finish Datetime
                    <br />
                    <small>"Finalizadas"</small>
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="ID" id="chkRow" value="@item.order_id" />
                </td>
                <td class="active">
                    @Html.DisplayFor(modelItem => item.order_id)
                </td>
                <td>
                    @if (item.order_status.Equals("Pendente"))
                    {
                        <i style="color:orange" class="fas fa-certificate" title="Pendente"></i>

                    }
                    else if (item.order_status.Equals("Finalizada"))
                    {
                        <i style="color:green" class="fas fa-certificate" title="Finalizada"></i>
                    }
                    else if (item.order_status.Equals("Cancelada"))
                    {
                        <i style="color:red" class="fas fa-certificate" title="Cancelada"></i>
                    }
                    @Html.DisplayFor(modelItem => item.order_status)
                </td>
                <td>
                    (@Html.DisplayFor(modelItem => item.order_user))
                    <br />
                    @{
                        SportStars.Models.finalbootstrap_dbEntities db = new SportStars.Models.finalbootstrap_dbEntities();

                        var t = db.AspNetUsers.Find(item.order_user).Email;

                        <strong>@t</strong>
                    }
                </td>
                <td>

                    @{

                        var q = db.cart_items.Where(x => x.order_id == item.order_id).
                            Sum(x => x.cart_items_subtotal);
                        if (q != null)
                        {

                            <span>@q €</span>
                        }
                        else
                        {

                            var f = 0;
                            <span>@f <strong>€</strong></span>

                        }

                    }


                    @Html.DisplayFor(modelItem => item.order_total)
                </td>
                <td>
                    @db.cart_items.Where(x => x.order_id == item.order_id).Count()
                    @*@Html.DisplayFor(modelItem => item.order_amount)*@
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.order_name)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.order_address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_zipcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_city)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_nif)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.order_datetime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.order_datetime_finish)
                </td>
                @*<td>
                            @Html.DisplayFor(modelItem => item.payment_type)
                        </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
                    </td>*@

                @*<td>
                        @Html.DisplayFor(modelItem => item.country.country_name)
                    </td>*@
                <td>
                    <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i></a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.order_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.order_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.order_id })*@
                </td>
            </tr>
        }

    </table>
    @Html.PagedListPager(Model, (page) => Url.Action("Orders", new { page, order = ViewBag.order, filtro = ViewBag.filtro }))
    @((Model.PageNumber > Model.PageCount)?1:Model.PageNumber) de  @Model.PageCount
</div>



@section checkbox{
    <script>
        $('#chkHeader').click(function (event) {

            var selected = this.checked;
            // Iterate each checkbox
            $(':checkbox').each(function () { this.checked = selected; });

        });
    </script>

}